

.header-table-mobile {
    max-width: 1360px;
}

@media(max-width: 1360px) {
    .header-table-mobile {
        display: block;
    }
}

.header-content-tablet {
    min-height: 71px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 850px) {
    .header-content-tablet {
        display: none;
    }
}
.logo-and-number-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 41%;
}

.navigation-menu__input-tablet {
    margin-top: 10px;
    width: 41%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.navigation-menu-dropdown-mobile {
    position: absolute;
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    z-index: 1;
    top: 68px;
    left: 140px;

}
.navigation-menu-dropdown {
    position: absolute;
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    z-index: 1;
    top: 68px;
    left: 140px;
}
.navigation-menu-dropdown--open {
    display: flex;
    position: absolute;
    top: 75px;
    background: rgb(245, 246, 246);
    width: 100%;
    box-shadow: 0 5px 6px rgba(36, 36, 36, 0.37);
    left: 1px;
    transition: all 1s ease;
}

.menu-dropdown__item {
    font-family: 'PT Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
    color: black;
}


.button-burger-tablet,.button-burger-mobile {
    cursor: pointer;
}


.navigation-menu__item-number-tablet {
    font-family: 'PT Sans Caption',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #6F6F6F;
    padding-top: 10px;
}


.menu_dropdown_button_registration-tablet {
    width: 150px;
    height: 40px;
    background:var(--primaryColor);
    color: white;
    border-radius: 55px;
}


.menu_dropdown_button_registration-tablet:hover {
    color: white;
    cursor: pointer;
    background-color: var(--primaryHoverColor);
}